.page-fade-enter-active,
.page-fade-leave-active {
  //transition: opacity .7s;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-property: opacity;
}

.page-fade-enter,
.page-fade-leave-active {
  opacity: 0;
}
//
//.fade-in.mui-enter {
//  transition-duration: 500ms;
//  transition-timing-function: linear;
//  opacity: 0;
//  transition-property: opacity;
//}
//
//.fade-in.mui-enter.mui-enter-active {
//  opacity: 1;
//}
