$footer-background: #2c3840;

.footer {
  background: $footer-background;
  color: lighten($footer-background, 40%);
  padding: 2rem 0 0;

  .footer__menu-social a {
    color: $white;
  }

  .column-block {
    margin-bottom: 30px;
  }

  > .row {
    margin-bottom: 1rem;
  }

  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

.footer__name {
  color: $white;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.footer__title {
  color: $white;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.footer__block {
  display: flex;
  margin-bottom: 1rem;

  .fa {
    font-size: 2rem;
    color: darken($footer-background, 20%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.footer__bottom {
  background: darken($footer-background, 20%);
  padding: 1rem 0;

  p,
  .menu {
    margin-bottom: 0;
  }

  .footer__bottom-links {
    justify-content: flex-end;

    a {
      color: lighten($footer-background, 40%);
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }
}

